* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {

    font-size: 60px;
    color: deeppink;
    padding: 20px 0px;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    text-align: center;
    


}


body {
    padding: 10px 120px;
    
    text-align: center;
    font-family: "Fredoka", sans-serif;

}



.photo {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    
    height: 200px;
    flex-direction: row;
    

}

.col {
    
    width: calc(100%/3);
    display: flex;
    background-color: black;
    padding: 5px 5px;
    
}

img {
    max-width: 90px;
    height: auto;
}

.inside {
    padding: 5px 5px;
    display: flex;

}

li {
    padding: 5px 0px;
    list-style-type: none;
    padding-left: 10px;
    text-align: left;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
        color: white;

}
#first {
    font-weight: bold;
    text-transform: uppercase;
}

#second {
    font-weight: normal;    
}
#third {
    color: rgb(123, 160, 216);
    font-weight: normal;    
}
