* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {

    font-size: 60px;
    color: deeppink;
    padding: 20px 0px;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    text-align: center;
    background-color: aquamarine;


}

body {
    background-color: bisque;
    padding: 10px 120px;

}

body h3 {

    background-color: chartreuse;
    text-align: center;
}

.photo {
    display: flex;
    flex-wrap: wrap;
    background-color: brown;
    height: 200px;
    flex-direction: row;

}

.col {
    border: 1px solid black;
    width: calc(100%/3);
    display: flex;

}
img {
    max-width: 90px;
    height: auto;
}

.inside {
    padding: 5px 5px;
    display: flex;

}
li {
    list-style-type: none;
}